body{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3e50;
}
.smarty_address--form{
    width: 500px;
    background-color: #f2f3f8;
    padding: 20px;
}
